$darkcolor1: #212d31;
$darkcolor2: #2a363a;
$darkcolor3: #475358;

$lightcolor: #fff;

$accentcolor1: #3191b0; 
$accentcolor2: #63be5e;
$accentcolor3: #ff6160;
$accentcolor4: #FD5105;

$fontlightcolor: #fff;
$fontdarkcolor: #000;
$fontaccentcolor: $accentcolor1;

